header {
	height: 100%;
	width: 100%;
	display: flex;
	background-color: lightgray;
	align-items: center;
	justify-content: center;

	a,
	a:hover,
	a:active {
		text-decoration: none;
		color: black;
	}
}