#home-view {
	width: 100%;

	.content {
		max-width: 1000px;
		margin: 0 auto;
		padding: 40px 0;

		.controls {
			display: flex;
			justify-content: center;
			padding-bottom: 40px;
		}

		h3 {
			text-align: center;
			margin-top: 10px;
			margin-bottom: 15px;
		}
	}
}