#game-settings-view {
	width: 100%;

	.content {
		max-width: 1000px;
		margin: 0 auto;
		padding: 40px 0;

		.difficulty-select {
			display: flex;
			flex-direction: column;
			align-items: center;

			h3 {
				text-align: center;
			}

			.buttons {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin-top: 30px;
				width: 70%;

				button {
					width: 120px;
				}
			}
		}
	}
}